/HealthCareSystem/.vs
/HealthCareSystem/HealthCareSystem/bin
/HealthCareSystem/HealthCareSystem/obj
/HealthCareSystem/DoctorsAPI/bin
/HealthCareSystem/DoctorsAPI/obj
/HealthCareSystem/PatientsAPI/bin
/HealthCareSystem/PatientsAPI/obj
