/HealthCareSystem/.vs
/HealthCareSystem/HealthCareSystem/bin
/HealthCareSystem/HealthCareSystem/obj
/HealthCareSystem/DoctorsAPI/bin
/HealthCareSystem/DoctorsAPI/obj
/HealthCareSystem/PatientsAPI/bin
/HealthCareSystem/PatientsAPI/obj
/HealthCareSystem/gRPCDocuments/obj
/HealthCareSystem/gRPCDocuments/bin
/HealthCareSystem/HealthCareSystem.IntegratedEvents/bin
/HealthCareSystem/HealthCareSystem.IntegratedEvents/obj